coverage/
dist/
node_modules/
.DS_Store
.env*
sas/
sasjs_root/
api/mocks/custom/*
!api/mocks/custom/.keep
api/mocks/uploads
tmp/
build/
sasjsbuild/
sasjscore/
certificates/
executables/
.env
api/csp.config.json
